@font-face {
  font-family: GolosText;
  src: local("GolosText-Regular"), url(./fonts/GolosText-Regular.woff2) format("woff2"), url(./fonts/GolosText-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: GolosText;
  src: local("GolosText-Medium"), url(./fonts/GolosText-Medium.woff2) format("woff2"), url(./fonts/GolosText-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: GolosText;
  src: local("GolosText-SemiBold"), url(./fonts/GolosText-SemiBold.woff2) format("woff2"), url(./fonts/GolosText-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: GolosText;
  src: local("GolosText-Bold"), url(./fonts/GolosText-Bold.woff2) format("woff2"), url(./fonts/GolosText-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: local("Merriweather-Regular"), url(./fonts/Merriweather-Regular.woff2) format("woff2"), url(./fonts/Merriweather-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: local("Merriweather-Bold"), url(./fonts/Merriweather-Bold.woff2) format("woff2"), url(./fonts/Merriweather-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  max-width: 100%
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

html {
  font-family: GolosText;
  font-size: 10px;
  font-weight: 400;
  color: #313131;
  scroll-behavior: smooth
}

img {
  max-width: 100%;
  height: auto
}

img,
picture {
  font-size: 0;
  line-height: 0;
  pointer-events: none
}

.container {
  width: calc(100% - 40px);
  max-width: 1222px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto
}

@media (min-width:768px) {
  .container {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px
  }
}

@media (min-width:992px) {
  .container {
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px
  }
}

.page-main,
footer,
header {
  overflow: hidden
}

h2,
h3 {
  font-family: Merriweather;
  font-weight: 400;
  text-transform: uppercase
}

h2 {
  margin: 0;
  font-size: 36px;
  line-height: 1.1
}

@media (min-width:992px) {
  h2 {
    font-size: 54px;
    line-height: 1.2
  }
}

h3 {
  margin: 24px 0;
  font-size: 28px;
  line-height: 1.35
}

@media (min-width:768px) {
  h3 {
    margin: 28px 0;
    font-size: 32px
  }
}

@media (min-width:1322px) {
  h3 {
    margin: 30px 0;
    font-size: 36px
  }
}

@keyframes scroll {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

.footer {
  position: relative;
  background-color: #e9ded4
}

.footer__running {
  display: flex;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f54932;
  z-index: 2
}

@media (min-width:992px) {
  .footer__running {
    height: 60px;
    box-sizing: border-box
  }
}

.footer__running-text {
  display: flex;
  animation: scroll 20s linear infinite
}

.footer__running-text span {
  display: flex;
  align-items: center;
  font-family: Merriweather;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap
}

.footer__running-text span::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 12px
}

@media (min-width:992px) {
  .footer__running-text span {
    font-size: 22px
  }
}

.footer__text {
  margin: 78px 0 60px;
  font-size: 16px;
  line-height: 1.2;
  opacity: .6
}

@media (min-width:992px) {
  .footer__text {
    margin: 100px 0 70px
  }
}

.header {
  position: relative;
  min-height: 812px;
  background: url(./images/main-slider__back--small.jpg) center/cover no-repeat
}

@media (min-width:576px) {
  .header {
    min-height: 1080px;
    background: url(./images/main-slider__back--tablet.jpg) center/cover no-repeat
  }
}

@media (min-width:992px) {
  .header {
    min-height: 760px;
    background: url(./images/main-slider__back--laptop.jpg) center/cover no-repeat
  }
}

@media (min-width:1322px) {
  .header {
    background: url(./images/main-slider__back--container.jpg) center/cover no-repeat
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-top: 18px
}

.header__logo span {
  margin-left: 5.5px;
  font-size: 14.42px;
  font-weight: 700;
  line-height: 1.08;
  color: #595653;
  text-transform: uppercase
}

@media (min-width:576px) {
  .header__logo {
    margin-top: 26px
  }

  .header__logo span {
    margin-left: 6.5px;
    font-size: 16.65px
  }
}

.header__logo-knights {
  position: relative;
  min-width: 79.5px;
  min-height: 27px
}

.header__logo-knights img {
  width: 18.75px;
  height: 27px
}

@media (min-width:576px) {
  .header__logo-knights {
    min-width: 91.1px;
    min-height: 31.18px
  }

  .header__logo-knights img {
    width: 21.65px;
    height: 31.18px
  }
}

.header__main {
  max-width: 400px;
  width: 100%;
  margin: 40px auto 0
}

.header__main h1 {
  margin: 0 0 24px;
  font-family: Merriweather;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase
}

.header__main h1 span {
  display: block
}

.header__main h1 span:nth-child(2) {
  text-align: center
}

.header__main h1 span:nth-child(3) {
  text-align: right
}

@media (min-width:576px) {
  .header__main {
    max-width: 480px;
    margin: 50px auto 0
  }

  .header__main h1 {
    font-size: 46px
  }
}

@media (min-width:992px) {
  .header__main {
    max-width: 520px;
    margin: 60px auto 0 0
  }

  .header__main h1 {
    font-size: 50px
  }
}

@media (min-width:1322px) {
  .header__main {
    max-width: 560px
  }

  .header__main h1 {
    font-size: 60px
  }
}

.header__text {
  font-size: 18px;
  line-height: 1.3
}

@media (min-width:576px) {
  .header__text {
    display: inline-block;
    text-align: center
  }
}

.header__links {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 14px
}

@media (min-width:576px) {
  .header__links {
    max-width: 400px;
    margin: 40px auto 0
  }
}

@media (min-width:992px) {
  .header__links {
    flex-direction: row;
    justify-content: space-between;
    max-width: none
  }
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 47px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  text-decoration: none;
  border-radius: 24px
}

.header__link--black {
  color: #fff;
  background-color: #1f1f1f
}

.header__link--black:hover {
  color: #000;
  background-color: #fbce51
}

.header__link--white {
  color: #1f1f1f;
  background-color: #fff
}

.header__link--white:hover {
  color: #fff;
  background-color: #1f1f1f
}

@media (min-width:992px) {
  .header__link {
    max-height: 72px;
    max-width: 280px;
    padding: 20px 50px;
    border-radius: 36px;
    text-align: center
  }

  .header__link--white {
    background-color: transparent;
    border: 2px solid #1f1f1f
  }
}

.header__knight {
  position: absolute;
  right: 50%;
  bottom: 17px;
  transform: translate(50%, 0)
}

@media (min-width:992px) {
  .header__knight {
    right: calc(50% - 400px)
  }
}

@media (min-width:1322px) {
  .header__knight {
    right: calc(50% - 350px);
    transform: translate(0, 0);
    transform-origin: 50% 100%;
  }
}

.header__pawn {
  display: none
}

@media (min-width:1322px) {
  .header__pawn {
    position: absolute;
    display: block;
    right: calc(50% - 640px);
    bottom: 80px
  }
}

.header__running {
  display: flex;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f54932
}

@media (min-width:992px) {
  .header__running {
    height: 60px;
    box-sizing: border-box
  }
}

.header__running-text {
  display: flex;
  animation: scroll 20s linear infinite
}

.header__running-text span {
  display: flex;
  align-items: center;
  font-family: Merriweather;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap
}

.header__running-text span::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 12px
}

@media (min-width:992px) {
  .header__running-text span {
    font-size: 22px
  }
}

.participants__container {
  padding-top: 60px;
  padding-bottom: 100px
}

@media (min-width:992px) {
  .participants__container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 140px
  }
}

.participants__list-overflow {
  overflow: hidden;
  padding-bottom: 10px
}

.participants__list {
  position: relative;
  width: 100%;
  margin-top: 40px
}

@media (min-width:768px) {
  .participants__list {
    width: 50%;
    margin-top: 50px
  }
}

@media (min-width:992px) {
  .participants__list {
    width: calc(100% / 3);
    margin-top: 60px
  }
}

.participants__list-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr
}

.participants__list-wrapper--tr {
  transition: .3s ease
}

.participants__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px
}

.participants__item div {
  line-height: 0
}

.participants__item h3 {
  margin-top: 28px;
  font-family: GolosText;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: none
}

.participants__item span {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.2;
  opacity: .6
}

.participants__link {
  margin-top: 20px;
  padding: 7px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px !important;
  color: #3057a2;
  text-decoration: none;
  border: 1px solid #3057a2;
  border-radius: 18px
}

.participants__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px
}

@media (min-width:992px) {
  .participants__buttons {
    position: absolute;
    right: 50px;
    top: 110px;
    margin-top: 0;
    width: auto
  }
}

.participants__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: #313131;
  border-radius: 18px;
  border: none;
  cursor: pointer
}

.participants__button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff
}

.participants__button--prev::before {
  margin-left: 4px;
  border-left: 1px solid #fff;
  transform: rotate(-45deg)
}

.participants__button--next::before {
  margin-right: 4px;
  border-right: 1px solid #fff;
  transform: rotate(45deg)
}

@media (min-width:992px) {
  .participants__button {
    width: 44px;
    height: 44px;
    border-radius: 22px
  }
}

.participants__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px
}

.participants__number,
.participants__sum {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2
}

.participants__number {
  margin-right: 1px
}

.participants__sum {
  opacity: .6
}

.participants__sum::before {
  content: "/";
  margin-right: 1px
}

.stages__container {
  padding-top: 60px;
  padding-bottom: 60px
}

@media (min-width:992px) {
  .stages__container {
    padding-top: 100px;
    padding-bottom: 100px
  }
}

.stages__title p {
  margin: 12px 0 20px;
  font-size: 18px;
  line-height: 1.2;
  color: #3057a2
}

@media (min-width:768px) {
  .stages__title {
    max-width: 480px
  }

  .stages__title h2 {
    display: inline
  }

  .stages__title p {
    display: inline-block;
    max-width: 260px;
    margin: 0 0 0 10px
  }
}

@media (min-width:992px) {
  .stages__title {
    max-width: 800px
  }

  .stages__title p {
    max-width: 280px;
    margin: 0 0 0 15px;
    font-size: 20px
  }
}

.stages__list {
  position: relative;
  width: 100%;
  padding-top: 130px;
  overflow: hidden
}

@media (min-width:768px) {
  .stages__list {
    padding-top: 80px;
    overflow: visible
  }
}

@media (min-width:992px) {
  .stages__list {
    padding-top: 50px
  }
}

.stages__picture {
  position: absolute;
  top: 0;
  z-index: 1
}

@media (min-width:768px) {
  .stages__picture {
    top: -80px;
    right: 0
  }
}

@media (min-width:992px) {
  .stages__picture {
    top: auto;
    bottom: 20px;
    right: -40px
  }
}

.stages__list-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr
}

.stages__list-wrapper--tr {
  transition: .3s ease
}

@media (min-width:768px) {
  .stages__list-wrapper {
    grid-auto-flow: row;
    gap: 20px
  }
}

@media (min-width:992px) {
  .stages__list-wrapper {
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas: "first first second""third third second""fourth fifth fifth"
  }
}

.stages__slide {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 62px 20px 34px;
  background: url(./images/stages__back.jpg) center/cover no-repeat
}

@media (min-width:768px) {
  .stages__slide {
    gap: 20px;
    padding: 20px
  }

  .stages__slide:nth-child(1),
  .stages__slide:nth-child(3) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 20px;
    padding: 0;
    background: #fff
  }

  .stages__slide:nth-child(1) .stages__item,
  .stages__slide:nth-child(3) .stages__item {
    padding: 20px;
    background: url(./images/stages__back.jpg) center/cover no-repeat
  }
}

@media (min-width:992px) {
  .stages__slide:nth-child(1) {
    grid-area: first
  }

  .stages__slide:nth-child(2) {
    grid-area: second
  }

  .stages__slide:nth-child(3) {
    grid-area: third
  }

  .stages__slide:nth-child(4) {
    grid-area: fourth
  }

  .stages__slide:nth-child(5) {
    grid-area: fifth
  }

  .stages__slide:nth-child(5) .stages__item {
    max-width: calc(100% - 268px)
  }
}

.stages__item {
  display: flex;
  gap: 16px
}

.stages__number {
  display: flex;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #313131;
  background-color: #fff;
  border-radius: 18px
}

.stages__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500
}

@media (min-width:992px) {
  .stages__text {
    font-size: 20px
  }
}

.stages__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 28px
}

@media (min-width:768px) {
  .stages__buttons {
    display: none
  }
}

.stages__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: #313131;
  border-radius: 18px;
  border: none;
  cursor: pointer
}

.stages__button::before {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff
}

.stages__button:disabled {
  background-color: #d9d9d9;
  cursor: auto
}

.stages__button--prev::before {
  margin-left: 4px;
  border-left: 1px solid #fff;
  transform: rotate(-45deg)
}

.stages__button--next::before {
  margin-right: 4px;
  border-right: 1px solid #fff;
  transform: rotate(45deg)
}

.stages__button-list {
  display: flex;
  gap: 6px;
  margin: 0 16px
}

.stages__button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.stages__button-item--active {
  background-color: #313131
}

.support {
  background-color: #fff
}

.support__container {
  padding-top: 24px;
  padding-bottom: 60px
}

@media (min-width:992px) {
  .support__container {
    padding-top: 80px;
    padding-bottom: 100px
  }
}

.support__tournament h3 {
  display: flex;
  flex-direction: column;
  align-items: center
}

.support__tournament picture img {
  margin: 24px 0 16px
}

@media (min-width:992px) {
  .support__tournament {
    position: relative
  }

  .support__tournament h3 {
    display: inline-block;
    max-width: 480px
  }

  .support__tournament picture img {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0;
    transform: translateY(-50%)
  }
}

@media (min-width:1322px) {
  .support__tournament h3 {
    max-width: 780px
  }
}

.support__red {
  color: #f54932;
  letter-spacing: .4px
}

.support__bender {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px
}

@media (min-width:992px) {
  .support__bender {
    flex-direction: row;
    margin-top: 20px
  }
}

@media (min-width:992px) {
  .support__picture {
    min-width: 530px;
    height: 610px;
    margin-right: 20px
  }
}

.support__info {
  margin-top: -9px
}

.support__info ul {
  margin: 30px 0 0;
  padding: 0;
  list-style: none
}

.support__info ul li {
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 1.2;
  border-bottom: 2px solid #d0d0d0
}

.support__info ul li:last-child {
  border-bottom: none
}

.support__info ul li p {
  display: inline-block;
  margin: 16px 12px 0 0;
  opacity: .7
}

.support__info ul li span {
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
  white-space: nowrap
}

@media (min-width:1322px) {
  .support__info {
    margin: 0
  }

  .support__info ul {
    display: table;
    width: 100%;
    margin: 60px 0 0
  }

  .support__info ul li {
    display: flex;
    padding-bottom: 0
  }

  .support__info ul li p,
  .support__info ul li span {
    margin: 0
  }

  .support__info ul li p {
    min-width: 50%;
    padding: 16px 16px 16px 0;
    box-sizing: border-box;
    border-right: 2px solid #d0d0d0
  }

  .support__info ul li span {
    padding: 16px 0 16px 16px
  }
}

.support__line-through {
  position: relative;
  margin-top: 0 !important
}

.support__line-through::before {
  content: '';
  position: absolute;
  bottom: 9px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f54932;
  border-radius: 1px
}

@media (min-width:1322px) {
  .support__line-through {
    padding: 0 !important
  }
}

.support__last-text {
  margin: 26px 0 0;
  font-size: 18px;
  line-height: 1.2;
  color: #3057a2
}

@media (min-width:1322px) {
  .support__last-text {
    margin: 50px 0 0;
    font-size: 20px
  }
}